## Tuples in Python

In [1]:
t = (1,2,3,"Hello")
print(t)

(1, 2, 3, 'Hello')

In [2]:
#tuples are immutable
#t[0] = 5
print(t[0])

1

In [3]:
# Convert a tuple into a list

l = list(t)
print(l)

l[0] = 5
print(l)

[1, 2, 3, 'Hello']
[5, 2, 3, 'Hello']

In [4]:
t2 = tuple(l)
print(t2)

(5, 2, 3, 'Hello')

In [5]:
#concatentation
print(t2 + t)

#Repetion
t2 = t2*3
print(t2)

(5, 2, 3, 'Hello', 1, 2, 3, 'Hello')
(5, 2, 3, 'Hello', 5, 2, 3, 'Hello', 5, 2, 3, 'Hello')

In [6]:
t = (1,44,3,2)
print(min(t))

1

In [7]:
del t

## Dictionaries in Python

In [8]:
d = {"Mango":100,"Apple":80}
print(d)
#Look Up
print(d["Mango"])

d["Guava"] = 60
print(d)

d["Grape"] = [10,20]
print(d["Grape"])

d["Pineapple"] = {"Small":90,"Large":150}

print(d["Pineapple"]["Small"])

{'Mango': 100, 'Apple': 80}
100
{'Mango': 100, 'Apple': 80, 'Guava': 60}
[10, 20]
90

In [9]:
print(d.keys())

dict_keys(['Mango', 'Apple', 'Guava', 'Grape', 'Pineapple'])

In [10]:
print(d.values())

dict_values([100, 80, 60, [10, 20], {'Small': 90, 'Large': 150}])

In [11]:
print(type(d.get("Mangoes")))

<class 'NoneType'>

In [12]:
if "Mangoes" in d:
    print("Price of Mango is %d"%(d["Mango"]))
else:
    print("Doesn't exist")

Doesn't exist

In [13]:
del d["Pineapple"]
l = list(d.items())
print(l)

[('Mango', 100), ('Apple', 80), ('Guava', 60), ('Grape', [10, 20])]

In [14]:
d2 = {"Strawberry":95}

d.update(d2)
print(d)

{'Mango': 100, 'Apple': 80, 'Guava': 60, 'Grape': [10, 20], 'Strawberry': 95}

In [15]:
print(len(d))

5

In [16]:
d.clear()
print(len(d))

0

In [17]:
l1 = ["Apple","Papaya","Guava","Banana"]
l2 = [100,120,30,50]

p = dict(zip(l1,l2))
print(p)
print(type(p))

{'Apple': 100, 'Papaya': 120, 'Guava': 30, 'Banana': 50}
<class 'dict'>

In [18]:
for k in p.values():
    print(k)

100
120
30
50

### Python Sets

In [19]:
s = set([15,1,2,3,4,3,1,1])
print(s)

{1, 2, 3, 4, 15}

In [20]:
if 14 in s:
    print("present")
else:
    print("not present")

not present

In [21]:
s2 = {5,6,11,1,1}
print(s2)

{1, 11, 5, 6}

In [22]:
s2.add(50)
print(s2)

{1, 5, 6, 11, 50}

In [23]:
s.clear()

In [24]:
a1 = {1,2,3,4}
a2 = {2,3,4,5,6}

#Those element which are only in one of the sets
print(a1^a2)

{1, 5, 6}

## Data Structures in Python

### Builtin Datatypes

- Strings
- Lists
- Tuples
- Dictionaries
- Sets


## Lists
- List is like array, heterogenous list

In [25]:
myList = [ 1,2,3.5,"Hello"]
print(myList)
print(type(myList))

[1, 2, 3.5, 'Hello']
<class 'list'>

In [26]:
l2 = list([1,2,3])
print(l2)
print(type(l2))

[1, 2, 3]
<class 'list'>

In [27]:
l3 = list(l2)
print(l3)

l3 = l3 + l2
print(l3)

l3.extend(l2)
print(l3)

[1, 2, 3]
[1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [28]:
# List of Square of the numbers from 1 to 5
l4 = [i*i for i in range(1,6)]
print(l4)

[1, 4, 9, 16, 25]

### List Slicing

In [29]:
print(l4[0:3])
print(l4[-3:])

[1, 4, 9]
[9, 16, 25]

### Insertion and Deletion

- append
- insert
- remove
- pop
- del

In [30]:
l = [1,2]
l.append(3)

l.append([1.0,2.1])
l += [4,5,6]
print(l)

[1, 2, 3, [1.0, 2.1], 4, 5, 6]

In [31]:
l.insert(2,20)
print(l)

[1, 2, 20, 3, [1.0, 2.1], 4, 5, 6]

In [33]:
del l[0]
print(l)

[2, 20, 3, [1.0, 2.1], 4, 5, 6]

In [34]:
l.pop()
print(l)

[2, 20, 3, [1.0, 2.1], 4, 5]

In [35]:
l = ([1,2,3])
l = l*4
print(l)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [36]:
l = ["Apple","mango","guava",80]
80 in l

True

In [37]:
for i in range(len(l)):
    print(l[i])

Apple
mango
guava
80

In [38]:
for x in l:
    print(x)

Apple
mango
guava
80

## More functions on lists : Searching & Sorting

In [39]:
l = [4,3,2,16,18]
print(max(l))
print(min(l))
#Linear Search 
print(l.index(16))

18
2
3

In [40]:
l = sorted(l)

In [41]:
print(l)

[2, 3, 4, 16, 18]

In [42]:
l = [4,5,1,3,2]
l.sort(reverse=True)
print(l)

[5, 4, 3, 2, 1]

In [44]:
## Read a list of Numbers

numbers = [int(number)*int(number) for number in input().split()]
print(numbers)
print(type(numbers))

1 3 5 8
[1, 9, 25, 64]
<class 'list'>